@page
@model Order
@using DamiensCookieJar.Services
@using ICSI418Y_Cookies.Models
@inject GetCookiesService CookiesService
@{
    ViewData["Title"] = "Order Page";
}

<div>
    <h1>ORDER PAGE</h1>

    <body>
     <div asp-validation-summary="All" class="text-danger"></div>
    <div class="card-columns">
    <form method="post">
        @for (int i = 0; i < CookiesService.getCookies().Count(); i++)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@CookiesService.getCookies().ToArray()[i].CookieName</h5>
                    <h6 class="card-body">@CookiesService.getCookies().ToArray()[i].CookiePrice $</h6>
                </div>
                @if (CookiesService.getCookies().ToArray()[i].InStock)
                {
                    <input type="hidden" asp-for="CartInputs[i].cookieID" value="@CookiesService.getCookies().ToArray()[i].CookieID"/>
                    <input type="hidden" asp-for="CartInputs[i].cookiePrice" value="@CookiesService.getCookies().ToArray()[i].CookiePrice"/>
                    <input type="hidden" asp-for="CartInputs[i].cookieName" value="@CookiesService.getCookies().ToArray()[i].CookieName"/>
                    <input type="hidden" asp-for="CartInputs[i].cookiesLeft" value="@CookiesService.getCookies().ToArray()[i].CookiesLeft"/>
                    <h6>COKIES LEFT IN STOCK: @CookiesService.getCookies().ToArray()[i].CookiesLeft</h6>
                    <label asp-for="CartInputs[i].quantity"></label>
                    <input asp-for="CartInputs[i].quantity" type="number" min="0" max="@CookiesService.getCookies().ToArray()[i].CookiesLeft"/>
                }
                else
                {
                    <input type="hidden" asp-for="CartInputs[i].cookieID" value="@CookiesService.getCookies().ToArray()[i].CookieID"/>
                    <input type="hidden" asp-for="CartInputs[i].cookiePrice" value="@CookiesService.getCookies().ToArray()[i].CookiePrice"/>
                    <input type="hidden" asp-for="CartInputs[i].cookieName" value="@CookiesService.getCookies().ToArray()[i].CookieName"/>
                    <input type="hidden" asp-for="CartInputs[i].cookiesLeft" value="@CookiesService.getCookies().ToArray()[i].CookiesLeft"/>
                    <input type="hidden" asp-for="CartInputs[i].quantity" value="0"/>
                    <h6 class="card-body">OUT OF STOCK</h6>
                }
            </div>
        }
        <button type="submit" class="btn btn-primary btn-block">ADD TO CART</button>
    </form>
    </div>
    </body>
</div>